<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="settings" type="Aufbauwerk.Asterisk.Settings, AsteriskManager" />
  </configSections>
  <settings>
    <servers>
      <add name="innsbruck" host="1.2.3.4" port="80" username="username" secret="secret" extensionPattern="^\d\d$" deviceFormat="Custom:4$0" />
    </servers>
    <sms username="43676156789-sms@t-mobile.at" password="password" vpnId="56789" customerCode="1.23456" text="Verpasster Festnetzanruf von {0} am {1:d} um {1:t}." culture="de-AT" unknownCaller="Unbekannt" />
  </settings>
</configuration>
