<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BLF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BLF.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Secret" serializeAs="String">
                <value />
            </setting>
            <setting name="StartDate" serializeAs="String">
                <value />
            </setting>
            <setting name="Extension" serializeAs="String">
                <value />
            </setting>
            <setting name="ExtensionsContext" serializeAs="String">
                <value />
            </setting>
            <setting name="ExtensionsPattern" serializeAs="String">
                <value />
            </setting>
            <setting name="PrefixVariable" serializeAs="String">
                <value />
            </setting>
            <setting name="RegistryKey" serializeAs="String">
                <value />
            </setting>
            <setting name="RegistryValue" serializeAs="String">
                <value />
            </setting>
        </BLF.Properties.Settings>
    </applicationSettings>
</configuration>